/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.page-header{
    background:lightblue;
    padding:10px 0px 20px 10px;
    border:solid 1px;
  }       
  img{
    height:40px;
    width:80px;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
  }
  #name{
    text-align:right;
    margin-top:-60px;
    padding:10px
  }
  .navbar{
    margin-left:30%
  }
  
  .navbar li{
    float:left;
    list-style:none;
    margin-left:20px;
    margin-top:-3px;
  }
  .navbar li a{
    padding:30px 30px 30px;
    color:black;
  }
  .navbar li a:hover{
    color:white;
  }
.page-content{
  display: inline-block;
  width:100%;
  border:1px solid black;
  background-color: rgb(72, 85, 99);
}
aside,section{
  display: inline-block;
}
.left-sidebar {
  width: 20%;
  padding-top: 12px;
  padding-bottom: 21px;
  border: 1px solid black;
  display: inline-block;
  background-color: linen;
  
}

.left-sidebar ul li {
  padding: 5px;
  list-style: none;
}

#right-sidebar-menu ul{
  padding-top: 30px;
  height: 200px;
  margin-left: 40px;
  border:1px solid black;
 
}
#main-content-section{
  width:50%;
  height:250px;
  border: 1px solid black;
  padding-top: 56px;
  padding-bottom: 40px;
  background-color: lightpink;
}
.post-img{
  height:80px;
  padding-top: 10px;
  width:100px;
  margin-left: 60px;
}
#page-footer{
  border:1px solid black;
  background-color: cornflowerblue;
  margin-top: 5px;
  padding:10px;
}